.footer__link {
    font-size: 16px;
    
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
    transition: opacity .3s;
}
.footer__link:hover {
    opacity: .8;
    transition: opacity .3s;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}