.footer__link {
    font-size: 16px;
    margin-right: 18px;
    text-decoration: none;
    color: #ffffff;
}
.footer__link:hover{
    opacity: .8;
    transition: opacity .3s;
}
/* @media screen and (max-width: 1279px){
    .footer {
        max-width: 928px;
    }
    
}
@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        margin: 0 118px 24px 16px;
        flex-direction: column;
    }
} */