.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 740px;
    text-decoration: none;
    position: relative;
    z-index: 0;
}
.cover__overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity ease-in-out .3s;
} 
.cover__overlay:hover::before {
    opacity: .8;
}
@media screen and (max-width: 1279px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
        margin: 0;
        margin-bottom: 92px;
    }
}
@media screen and (max-width: 1023px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 767px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
        margin-bottom: 64px;
    }
}